
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>FitGroup</h3>
                    <p>We are an App with the goal of changing your lifestyle for the best. Thanks to our team of nutrition and workout specialists. They will analyze your data and give you the best meal plan and workout sessions for you. 💪 </p>
                </div>
                <div class="col item social"><a href="#"><mat-icon >facebook</mat-icon></a><a href="#"><mat-icon >whatsapp</mat-icon></a><a href="#"> <mat-icon >poll</mat-icon> </a><a href="#"> <mat-icon >play_arrow</mat-icon> </a></div>
            </div>
            <p class="copyright">FitGroup © 2022</p>
        </div>
    </footer>
