<div class="abs-routine">
    <div class="title">
        <mat-card class="type-title">
            <h1>{{this.exerciseData.name}}</h1>
        </mat-card>
    </div>
    <div class="exercise">
        <mat-grid-list cols="2">
            <mat-grid-tile class="embed-container">
                    <iframe width="500" height="300" [src]="safeSrc" allowfullscreen></iframe>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="container-image">
                    <div class="clock">
                        <input class="number" type="text" maxlength="2" value="00"><span>min</span><input class="number" type="text" maxlength="2" value="30"><span>sec</span>
                    </div>
                    <div class="buttons">
                        <button id="play" onclick="startTimer()"></button>
                        <button id="stop" onclick="stopTimer()"></button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br><br>
</div>

