.title{
    padding: 30px;
}
.type-title{
    max-width: 500px;
    background: gray;
    justify-content: center;
    padding-left: 30px;
}
.abs-routine{
    background-color: #212121;
}

.clock {
    font-size: 32px;
    text-shadow: -1px 0px 15px rgba(0,0,0,0.25);
    color: lightgray;
}

.number {
    display: inline-block;
    width: 140px;
    font-size: 128px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-shadow: -1px 0px 15px rgba(37, 27, 27, 0.25);
    border: none;
    color: lightgray;
    background-color: transparent;

}

.buttons button {
    margin: 0 7px;
    padding: 40px;
    border: none;
    border-radius: 50%;
}

#play {
    background-image: url('../../../../assets/routines/icons/play.png');
    background-position: center;
    background-repeat: no-repeat;
}

#stop {
    background-image: url('../../../../assets/routines/icons/stop.png');
    background-position: center;
    background-repeat: no-repeat;
}

#play:active {
    background-color: lightgreen;
}

#stop:active {
    background-color: lightcoral;
}

.container-image{
    text-align: center;
    justify-content: center;
    align-items: center;
}