
<div class="abs-routine">
<div class="title">
    <mat-card class="type-title">
        <h1>Abdominal Routine</h1>
    </mat-card>
</div>
<mat-list class="inline-list">
    <mat-list-item>
        <mat-card>
            <mat-grid-list cols="2">
                <mat-grid-tile>
                    <img src="../../../../../assets/routines/exercises/exercise-superman.png" alt="Superman Exercise">
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item class="text-h5 mb-1 pa-5 text-white">
                        {{this.exerciseData1.name}}
                        </mat-list-item>
                        <mat-list-item class="mb-1 pa-5 text-grey">
                            3 minutes
                        </mat-list-item>
                    </mat-list>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card-actions align="end">
                <button mat-button class="button start-routine"  [routerLink]="['/exercise-routine',exerciseId1]">START</button>
            </mat-card-actions>
        </mat-card>
    </mat-list-item>

    <mat-list-item>
        <mat-card>
            <mat-grid-list cols="2">
                <mat-grid-tile>
                    <img src="../../../../../assets/routines/exercises/exercise-plank.png" alt="Plank Exercise">
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item class="text-h5 mb-1 pa-5 text-white">
                            {{this.exerciseData2.name}}
                        </mat-list-item>
                        <mat-list-item class="mb-1 pa-5 text-grey">
                            3 seconds
                        </mat-list-item>
                    </mat-list>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card-actions align="end">
                <button mat-button class="button start-routine"  [routerLink]="['/exercise-routine',exerciseId2]">START</button>
            </mat-card-actions>
        </mat-card>
    </mat-list-item>

    <mat-list-item>
        <mat-card>
            <mat-grid-list cols="2">
                <mat-grid-tile>
                    <img src="../../../../../assets/routines/exercises/exercise-crisscross.png" alt="Crisscross Exercise">
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item class="text-h5 mb-1 pa-5 text-white">
                            {{this.exerciseData3.name}}
                        </mat-list-item>
                        <mat-list-item class="mb-1 pa-5 text-grey">
                            3 seconds
                        </mat-list-item>
                    </mat-list>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card-actions align="end">
                <button mat-button class="button start-routine"  [routerLink]="['/exercise-routine',exerciseId3]">START</button>
            </mat-card-actions>
        </mat-card>
    </mat-list-item>
</mat-list>
<br><br>
</div>
