<body>
<div class="container">
  <div class="date">
    <p class="date-message">Monday 14/04/23 ☀️</p>
  </div>
  <div class="cards">
    <div class="row date-row">
      <mat-card class="calories-card">
        <p class="card-title">1420</p>
        <p class="card-content">Calories<p>
      </mat-card>

      <mat-card class="grams-cards">
        <p class="card-title">Proteins</p>
        <p class="card-content">120g</p>
      </mat-card>

      <mat-card class="grams-cards">
        <p class="card-title">Carbohy</p>
        <p class="card-content">140g</p>
      </mat-card>

      <mat-card class="grams-cards">
        <p class="card-title">Fats</p>
        <p class="card-content">50g</p>
      </mat-card>
    </div>

  </div>

  <!-------- Feeding ---------->

  <div class="food">
    <p class="food-title">Breakfast 🥣: </p>
    <div class="row">
      <span class="food-content">265 kcal</span>
      <span class="food-content">Protein: 40g</span>
      <span class="food-content">Carbohydrates: 35g</span>
      <span class="food-content">Fats: 3g</span>
    </div>


    <div class="food-breakfast">
      <div class="row feeding-row">
        <div class="food-items">
          <img src="../../../../../assets/nutrition/schedule/eggs.png">
          <span>Eggs</span>
        </div>

        <div class="food-quantity">
          <div class="column food-column">
            <p class="food-name">3 boiled eggs</p>
            <p class="food-kcal">155 kcal</p>
          </div>
        </div>
      </div>


      <div class="row feeding-row">
        <div class="food-items">
          <img src="../../../../../assets/nutrition/schedule/yogurt.png">
          <span>Yogurt</span>
        </div>

        <div class="food-quantity">
          <div class="column food-column">
            <p class="food-name">1 Yogurt (240ml)</p>
            <p class="food-kcal">110 kcal</p>
          </div>
        </div>
      </div>

    </div>


    <hr>


    <p class="food-title">Lunch 🌮: </p>
    <div class="row">
      <span class="food-content">265 kcal</span>
      <span class="food-content">Protein: 40g</span>
      <span class="food-content">Carbohydrates: 35g</span>
      <span class="food-content">Fats: 3g</span>
    </div>


    <div class="food-breakfast">
      <div class="row feeding-row">
        <div class="food-items">
          <img src="../../../../../assets/nutrition/schedule/grilled-chicken.png">
          <span>Grilled chicken</span>
        </div>

        <div class="food-quantity">
          <div class="column food-column">
            <p class="food-name">Chicken (100g)</p>
            <p class="food-kcal">142 kcal</p>
          </div>
        </div>
      </div>


      <div class="row feeding-row">
        <div class="food-items">
          <img src="../../../../../assets/nutrition/schedule/salad.png">
          <span>Vegetable Salad</span>
        </div>

        <div class="food-quantity">
          <div class="column food-column">
            <p class="food-name">1/3 of a dish (130g)</p>
            <p class="food-kcal">50kcal</p>
          </div>
        </div>
      </div>

    </div>


    <hr>


    <p class="food-title">Dinner 🍽️: </p>
    <div class="row">
      <span class="food-content">265 kcal</span>
      <span class="food-content">Protein: 40g</span>
      <span class="food-content">Carbohydrates: 35g</span>
      <span class="food-content">Fats: 3g</span>
    </div>


    <div class="food-breakfast">
      <div class="row feeding-row">
        <div class="food-items">
          <img src="../../../../../assets/nutrition/schedule/grilled-chicken.png">
          <span>Grilled chicken</span>
        </div>

        <div class="food-quantity">
          <div class="column food-column">
            <p class="food-name">Chicken (100g)</p>
            <p class="food-kcal">142 kcal</p>
          </div>
        </div>
      </div>


      <div class="row feeding-row">
        <div class="food-items">
          <img src="../../../../../assets/nutrition/schedule/salad.png">
          <span>Vegetable Salad</span>
        </div>

        <div class="food-quantity">
          <div class="column food-column">
            <p class="food-name">1/3 of a dish (130g)</p>
            <p class="food-kcal">50kcal</p>
          </div>
        </div>
      </div>

    </div>


    <hr>



    <p class="food-title">Water 🥤: </p>
    <div class="row">
      <span class="food-content">3.5L</span>
    </div>


    <div class="food-breakfast">
      <div class="row feeding-row">
        <div class="food-items">
          <img src="../../../../../assets/nutrition/schedule/glass-of-water.png">
          <span>Glasses of water</span>
        </div>

        <div class="food-quantity">
          <div class="column food-column">
            <p class="food-name">6 glasses of water</p>
          </div>
        </div>
      </div>

    </div>

    <hr>

    <div class="premium-ad-card">
      <mat-card class="premium-ad">
        <p class="premium-ad-text">Do you want a more personalized plan?</p>
        <p class="premium-ad-hightlighted">Get the PREMIUM package</p>
      </mat-card>
    </div>



  </div>
</div>
</body>
