<div class="abs-routine">
    <div class="title">
        <mat-card class="type-title">
            <h1>Abdominal Routine</h1>
        </mat-card>
    </div>
    <div class="exercise">
        <mat-grid-list cols="2">
            <mat-grid-tile class="embed-container">
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/67rgxYNKbZY" allowfullscreen></iframe>

            </mat-grid-tile>
            <mat-grid-tile>
                <div class="container-image">
                    <img width="200"
                            src="../../../assets/routines/icons/icon-timer.png"
                            class="objectives-images"
                            alt="Counter Timer Icon"/>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br><br>
</div>
