<div class="abs-routine">
    <div class="title">
        <mat-card class="type-title">
            <h1>Abdominal Routine</h1>
        </mat-card>
    </div>
    <div class="exercise">
        <mat-grid-list cols="2">
            <mat-grid-tile class="embed-container">
                    <iframe width="500" height="300" src="https://www.youtube.com/embed/67rgxYNKbZY" allowfullscreen></iframe>

            </mat-grid-tile>
            <mat-grid-tile>
                <div class="clock">
                    <input class="number" type="text" maxlength="2" value="00"><span>min</span><input class="number" type="text" maxlength="2" value="00"><span>sec</span>
                </div>
                <div class="buttons">
                    <button id="play" onclick="startTimer()"></button>
                    <button id="stop" onclick="stopTimer()"></button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br><br>

    <script src="script.js"></script>
</div>

