.header{
  padding: 0 20px;
  margin: 0 0 12px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.29;
  margin-top: 5%;
  margin-left: 15%;
  text-align: left;
}

.card {
  max-width: 250%;
  margen: 10px
}


.grid{
  margin-left: 4%;
  margin-top: 5%;
  grid-template-columns: 100px 200px 200px;

}
img {
  max-width: 50%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;

}



