<body>
    <div class="container">
        <div class="welcome-message">
            <p class="hello-message">Hello! 👋</p>
            <p class="beginning-message">Welcome to the beginning of healthy lifestyle</p>
            <p class="selector-message">Select one you most identify with</p>
        </div>


        <div class="row gender">
            <mat-card class="card-gender">
                <p class="card-title">Female</p>
                <img src="../../assets/nutrition/first-screen/female-gender.png" class="card-image">
            </mat-card>

            <mat-card class="card-gender">
                <p class="card-title">Male</p>
                <img src="../../assets/nutrition/first-screen/male-gender.png" class="card-image">
            </mat-card>
        </div>

        <div class="extra-card">

            <mat-card class="card-extra-option">
                <p>I prefer not to say</p>
            </mat-card>
        </div>

    </div>
</body>