


<mat-grid-list class="grid" #grid [cols]="cols" Ratio ="100:11" gutterSize="20px" >
  <mat-grid-tile>

    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>Hourglass</mat-card-title>
      </mat-card-header>
      <img class="img"mat-card-image src="../assets/body-women/hourglass.png">
      <mat-card-content>
        <p>
          It stands out for being a proportionate body type
          between shoulders and hips, in addition to having a very marked waist.
          It is also characterized by having large breasts and buttocks.</p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="'/dairy'" mat-button style=
          "background-color:#857d7d; color:#ffffff">
          DAIRY
        </button>
        <button [routerLink]="'/proteins'" mat-button style=
          "background-color:#de265d; color:white">
          PROTEINS
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>Inverted Triangle</mat-card-title>
      </mat-card-header>
      <img class="img"mat-card-image src="../assets/body-women/inverted triangle.png">
      <mat-card-content>
        <p>
          Virtually straight trunk, broad shoulders and back,
          poorly defined waist and narrow hips and buttocks,
          as well as thin legs.</p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="'/vegetables'" mat-button style=
          "background-color:#4ce141; color:white">
          VEGETABLES
        </button>
        <button [routerLink]="'/fruits'" mat-button style=
          "background-color:#e39121; color:white">
          FRUITS
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>Oval</mat-card-title>
      </mat-card-header>
      <img class="img"mat-card-image src="../assets/body-women/oval.png">
      <mat-card-content>
        <p>
          Women with this type of figure have volume in the chest and abdomen,
          aligned shoulders and hips, and a poorly defined waist,
          which is usually wider than the hips.</p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="'/proteins'" mat-button style=
          "background-color:#de265d; color:white">
          PROTEINS
        </button>
        <button [routerLink]="'/vegetables'" mat-button style=
          "background-color:#4ce141; color:white">
          VEGETABLES
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>Rectangle</mat-card-title>
      </mat-card-header>
      <img class="img"mat-card-image src="../assets/body-women/rectangle.png">
      <mat-card-content>
        <p>
          The rectangular body is characterized by having little
          pronounced curves, a straight silhouette,
          shoulders similar in width to the hips, a small waist and very long legs.</p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="'/grain'"mat-button style=
          "background-color:#86682a; color:white">
          GRAIN

        </button>
        <button [routerLink]="'/fruits'" mat-button style=
          "background-color:#e39121; color:white">
          FRUITS
        </button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>Triangle</mat-card-title>
      </mat-card-header>
      <img class="img"mat-card-image src="../assets/body-women/triangle.png">
      <mat-card-content>
        <p>
          The so-called triangular bodies are characterized by having the upper
          half of the body significantly narrower than the lower part, with the
          hip and buttock area in the foreground, where the curves are more pronounced.</p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="'/dairy'" mat-button style=
          "background-color:#857d7d; color:#ffffff">
          DAIRY
        </button>
        <button [routerLink]="'/grain'"mat-button style=
          "background-color:#86682a; color:white">
          GRAIN

        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
