.card {
  max-width: 300px;

}

.content {
  padding: 20px;
  margin-left: 5%;
}


.booked{
  padding: 0 20px;
  margin: 0 0 12px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.29;
  text-align: center;
  margin-top: 0%;
}

.button-booked{
  padding: 0 20px;
  margin: 0 0 12px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.29;
  margin-top: 0%;
  margin-left: 45%;
}
