.mat-title{
  font-size: 45px;
}
h1{
  color: white;
}

.logo-image{
  width: 100px;
  height: 100px;
  overflow: hidden;
}
img {
  max-width: 100%;
  max-height: 100%;
}
body{
  background-color: #333333;
}
.first-phrase{
  color: #999999;
  position: relative;
  bottom: 10px;
}
.container{
  margin-left:15%;
  margin-right: 20%;
  position: relative;
  top: 5%;
  background-color: #333333;
}
mat-grid-tile {
  margin-top: 5px;
}
.example-card {
  margin-bottom: 8px;
  margin-top: 8px;
  width: 95%;
  height: 80%;
  background-color: #363533
}
.content{
  position: relative;
  left:20%; bottom: 50px;
}
