<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat login-card">
          <div class="card-body">
            <h4 class="card-title">Login</h4>
            <form [formGroup]="registerForm" class="my-login-validation" (ngSubmit)="submit()">
              <div class="form-group">
                <label>First Name</label>
                <input matInput formControlName="firstName" type="text" class="form-control" name="firstName" value="" required autofocus>
                <div class="invalid-feedback">
                  Name is invalid
                </div>
              </div>

              <div class="form-group">
                <label> Last Name
                </label>
                <input matInput formControlName="lastName" type="text" class="form-control" name="lastName" required data-eye>
                <div class="invalid-feedback">
                  Last Name is required
                </div>
              </div>

              <div class="form-group">
                <label>Country</label>
                <input matInput formControlName="country" type="text" class="form-control" name="country" value="" required autofocus>
                <div class="invalid-feedback">
                  Country is invalid
                </div>
              </div>

              <div class="form-group">
                <label>City</label>
                <input matInput formControlName="city" type="text" class="form-control" name="city" value="" required autofocus>
                <div class="invalid-feedback">
                  City is invalid
                </div>
              </div>

              <div class="form-group">
                <label>Phone Number</label>
                <input matInput formControlName="phoneNumber" type="text" class="form-control" name="phoneNumber" value="" required autofocus>
                <div class="invalid-feedback">
                  Phone Number is invalid
                </div>
              </div>

              <div class="form-group">
                <label>E-Mail</label>
                <input matInput formControlName="email" type="email" class="form-control" name="email" value="" required autofocus>
                <div class="invalid-feedback">
                  Email is invalid
                </div>
              </div>

              <div class="form-group">
                <label>Password</label>
                <input matInput formControlName="password" type="text" class="form-control" name="password" value="" required autofocus>
                <div class="invalid-feedback">
                  Password is invalid
                </div>
              </div>

              <div class="form-group m-0">
                <button type="submit" class="btn btn-primary btn-block">
                  Login
                </button>
              </div>
              <div class="mt-4 text-center">
                Do you have an account? <a routerLink='/login'>Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

